.dk-content>span{
	display: inline-block;
	margin:0 50px 20px -30px;
}
.dk-content>span>input{
	width: 100px;
    height: 34px;
    margin:16px 0 0 10px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dk-content table tr th{
	background: #eee;
	height: 40px;
}
.dk-content table tr td{
	width: 130px;
	height: 40px;
}
.dk-content table tr .delbtn{
	width: 60px;
	height: 20px;
	outline: none;
	border-radius: 5px;
}
.dk-content .xginpt{
	display: inline-block;
	/*width: 60px;*/
	height: 20px;
	outline: none;
	border: 0;
	border-radius: 5px;
	margin: 10px;
	text-align: center;
}
.dk-content .xginpt:hover{
	background: #ccc;
}



