.bs-example th{text-align: center;}
.bs-example td input{background: #f5f5f5;
  text-align: center;
  height: 30px;
    outline: none;
    border: none;}
.bs-example .edit{width: 60px;}
.bs-example .del{width: 60px}
.bs-example .add{width: 60px}



